:root {
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animate-speed: 1.5s;
    --font-1:'Roboto Mono', monospace;
    --font-2:'Montserrat', sans-serif;



}

body {
   line-height: 1.4;
   color: #fff;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font: var(--font-1)
}

.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}

p {
    font-size: 1.3rem;
    font-family: var(--font-2);
}


.btn {
    display: inline-block;
    padding: 1rem 2rem; 
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    font-family: var(--font-2);
    margin: 1rem;
    font-size: 1.3rem;
    transition: all 0.3s ease-in
}

.btn:hover, 
.btn-dark {
    background: #333;
    color:#fff;
}

.btn-dark:hover {
    background: #fff;
    color: #333;
}



.material-icons {
    vertical-align: middle;
}

/* page colors */

#page-1 {
    background: var(--page-1-color)
}
#page-2 {
    background: var(--page-2-color)
}
#page-3 {
    background: var(--page-3-color)
}
#page-4 {
    background: var(--page-4-color)
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* horizontal and vertical alignment */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}

/* page animation */
#page-1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

/* keyframes */
@keyframes heading {
   to{  
       transform: translateY(0);
   }
}

#page-1 p {
    transform: translateX(-2000px);
    animation: text var(--animate-speed) forwards ease-in 2s;
}

/* keyframes */
@keyframes text {
    to {
        transform: translateX(0);
    }
}